@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dogs System</h1>
</div>
<img src="https://www.cshl.edu/wp-content/uploads/2020/04/various-purebred-dogs.jpg" alt="dog pic" style="text-align:center; width:80%; height:80%" />
