@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the car salon!</h1>
    <img src="https://i0.wp.com/culturacolectiva.com/wp-content/uploads/2023/02/J47XV44Y5NC4LMXMXEN7AN34HA.jpg?resize=750%2C375&ssl=1" alt="car image" style="text-align:center; height:50%; width:50%" />
</div>
